.registration-tab{
    margin-top: 40px;
    padding: 30px 30px;
    background-color: #fff;
    
}
.registration-tab li{
    list-style: none;
    padding-bottom: 20px;
}
.registration-tab li a{
    font-size: 16px;
    text-transform: uppercase;
}
.registration-tab li a span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #9696d6;
    border: 1px solid #9696d6;
    border-radius: 100%;
    display: inline-block;
    color: #fff;
    margin-right: 20px;
    position: relative;
}
.registration-tab .active a span{
    background: #4c4cc9;
}
.registration-tab .active a{
    color: #4c4cc9;
}
.registration-tab li a span::after{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 1px;
    content: '';
    background: #adadad;
}
.registration-tab li a .last-one::after{
    height: 0;
}
.register-side-bar{
    padding: 50px 0px;
}
.register-side-bar h3{
    text-align: left;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
}
.register-side-bar h3::after{
    position: absolute;
    top: 145%;
    left: 34%;
    transform: translateX(-50%);
    content: '';
    width: 80px;
    height: 2px;
    background: #29299d;
    
}
.all-forms{
    background: #d9d9d9;
    padding: 30px 30px;
}
.std-info{
    font-size: 24px;
    text-transform: uppercase;
     margin-top: 60px;
    color: #e89600;
}
.required{
    color: #d60e0e;
}
.save-btn{
    float: right;
}

.admission-header{
    background-image: linear-gradient(90deg,#5b79a2,#2e4469);
    padding: 30px 30px;
}
.admission-header h2{
    margin-top: 0;
    color: #fff;
}
.admission-header p{
    color: #fff;
}
.admission-footer .footer{
    position: relative!important;
    left: 0!important;
    margin-top: 50px;
}
.label-header{
    font-size: 18px;
    font-weight: bold;
}


/*margin  css*/
.mt-40{
    margin-top: 40px;
}

.pd-40{
    padding-top: 40px;
}
.pdl-40{
    padding-left: 40px;
}
.pdr-40{
    padding-right: 40px;
}
.form-header{
    color: #e89600;
    margin-bottom: 30px;
}
.table-data-show thead{
    background: #333547!important;
    color: #fff!important;
}
.dt-buttons{
    background: red!important;
}


.information-list{
    list-style: none;
    padding-left: 0;
}
.information-list span{
    font-weight: bold;
}

.information-list li{
    color: #333;
    margin-top: 8px;
    border-bottom: 1px solid #dfdff4;
}

.student-info .card-header{
    padding: 10px 10px!important;
}
.student-info .card-header h4{
    margin: 0;
    font-size: 18px;
}
.student-info .card-body{
    background: #fff;
}
.content-header-txt{
    color: #fff;
    text-transform: uppercase;
}
.content-header{
    background: #4d6171;
}
.side-menu{
    background: #212529;
}
.course-table-admin th{
    font-weight: bold;;
}
.card-header i{
    margin-right: 10px;
}











